<a href="https://colab.research.google.com/github/jasir-adnan/Excel-Data-Science-Jobs-Analysis-/blob/main/DAY_5Resources/Blank_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [2]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [3]:
%%sql
WITH median_value AS (
  SELECT
  PERCENTILE_CONT(0.5)WITHIN GROUP (ORDER BY
    (CASE WHEN s.orderdate BETWEEN'2022-01-01' AND '2023-12-31' THEN (s.quantity*s.netprice*s.exchangerate) END) )AS median

  FROM sales s

)
SELECT
  p.categoryname AS category,
  SUM(CASE WHEN s.quantity*s.netprice*s.exchangerate < mv.median AND s.orderdate BETWEEN'2022-01-01'
    AND '2022-12-31' THEN s.quantity*s.netprice*s.exchangerate END ) AS low_net_revenue_2022,
  SUM(CASE WHEN s.quantity*s.netprice*s.exchangerate >= mv.median
   AND s.orderdate BETWEEN'2022-01-01' AND '2022-12-31' THEN s.quantity*s.netprice*s.exchangerate END ) AS high_net_revenue_2022,
  SUM(CASE WHEN s.quantity*s.netprice*s.exchangerate < mv.median AND s.orderdate BETWEEN'2023-01-01'
    AND '2023-12-31' THEN s.quantity*s.netprice*s.exchangerate END ) AS low_net_revenue_2023,
  SUM(CASE WHEN s.quantity*s.netprice*s.exchangerate >= mv.median
    AND s.orderdate BETWEEN'2023-01-01' AND '2023-12-31' THEN s.quantity*s.netprice*s.exchangerate END ) AS high_net_revenue_2023
FROM sales s
  LEFT JOIN product p ON s.productkey = p.productkey
  CROSS JOIN median_value mv
GROUP BY p.categoryname
ORDER BY p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,category,low_net_revenue_2022,high_net_revenue_2022,low_net_revenue_2023,high_net_revenue_2023
0,Audio,222337.83,544600.39,180251.13,508439.06
1,Cameras and camcorders,133004.54,2249528.02,104869.46,1878676.83
2,Cell phones,814449.53,7305215.55,729699.39,5272448.24
3,Computers,624340.42,17237873.07,590790.31,11060076.90
4,Games and Toys,231979.63,84147.67,206103.36,64271.60
5,Home Appliances,219797.07,6392649.61,176261.35,5743731.52
6,"Music, Movies and Audio Books",685808.49,2303488.80,574958.76,1605809.37
7,TV and Video,272338.29,5542998.32,164275.35,4247902.87

In [5]:
%%sql
WITH percentile AS (
  SELECT
  PERCENTILE_CONT(0.25)WITHIN GROUP (ORDER BY
    (CASE WHEN s.orderdate BETWEEN'2022-01-01' AND '2023-12-31' THEN (s.quantity*s.netprice*s.exchangerate) END) )AS low,

  PERCENTILE_CONT(0.75)WITHIN GROUP (ORDER BY
    (CASE WHEN s.orderdate BETWEEN'2022-01-01' AND '2023-12-31' THEN (s.quantity*s.netprice*s.exchangerate) END) )AS high

  FROM sales s)
SELECT
  p.categoryname AS category,
  SUM( (s.quantity*s.netprice*s.exchangerate) ) AS total_revenue,
  CASE
   WHEN (s.quantity*s.netprice*s.exchangerate) >= prcntl.high THEN '1 - HIGH'
   WHEN (s.quantity*s.netprice*s.exchangerate) <= prcntl.low THEN '3 - Low'
   ELSE '2 - medium'
   END  AS revenue_tier

FROM sales s
  LEFT JOIN product p ON s.productkey = p.productkey
  CROSS JOIN percentile prcntl
  WHERE s.orderdate BETWEEN'2022-01-01' AND '2023-12-31'
GROUP BY
  p.categoryname,
  revenue_tier
ORDER BY p.categoryname,
  revenue_tier

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

                         category  total_revenue revenue_tier
0                           Audio      453108.90     1 - HIGH
1                           Audio      952700.06   2 - medium
2                           Audio       49819.44      3 - Low
3         Cameras and camcorders      3414876.61     1 - HIGH
4         Cameras and camcorders       929414.28   2 - medium
5         Cameras and camcorders        21787.96      3 - Low
6                     Cell phones     8557888.89     1 - HIGH
7                     Cell phones     5357700.03   2 - medium
8                     Cell phones      206223.79      3 - Low
9                       Computers    24192945.36     1 - HIGH
10                      Computers     5205799.01   2 - medium
11                      Computers      114336.32      3 - Low
12                 Games and Toys       34626.00     1 - HIGH
13                 Games and Toys      361328.43   2 - medium
14                 Games and Toys      190547.84      3 - Low
15                Home Appliances    10851234.48     1 - HIGH
16                Home Appliances     1646682.77   2 - medium
17                Home Appliances       34522.31      3 - Low
18  Music, Movies and Audio Books     2074182.51     1 - HIGH
19  Music, Movies and Audio Books     2817359.30   2 - medium
20  Music, Movies and Audio Books      278523.59      3 - Low
21                   TV and Video     8406606.84     1 - HIGH
22                   TV and Video     1796291.43   2 - medium
23                   TV and Video       24616.56      3 - Low

In [20]:
%%sql
SELECT
DATE_TRUNC('month',s.orderdate):: DATE AS order_month,
SUM(s.quantity*s.netprice*s.exchangerate) AS net_revenue,
COUNT(DISTINCT(s.customerkey)) AS Customers

FROM sales s

GROUP BY order_month
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

  order_month  net_revenue  customers
0  2015-01-01    384092.66        200
1  2015-02-01    706374.12        291
2  2015-03-01    332961.59        139
3  2015-04-01    160767.00         78
4  2015-05-01    548632.63        236
5  2015-06-01    748563.97        238
6  2015-07-01    635376.13        227
7  2015-08-01    718538.62        235
8  2015-09-01    696805.68        277
9  2015-10-01    824891.22        304